<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>SMASH!</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv" %>
	<![endif]-->
</head>
<body>

  <header role="banner" id="header">
    <div class="container">
      <h1>SMASH! Sydney Manga and Anime Show</h1>
      <a href="#">Visit SMASH! on the web.</a>
    </div>
  </header>

  <div role="main">
    <%= yield %>
  </div>

  <footer role="contentinfo" id="footer">
    <p>&copy; SMASH Inc.</p>
  </footer>

</body>
</html>
